<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
</head>
<body>
<h1 align="center" style="color:white">Authorization page</h1>
<style>
    body {
        background-image: url("https://oir.mobi/uploads/posts/2021-03/1616963578_18-p-serii-fon-20.jpg");
    }
</style>

{% for msg in get_flashed_messages() %}
<div style="color:white" class="flash">{{ msg }}</div>
{% endfor %}
<form method="post">

    <p><h2 style="color:white"><ins>Введите email </ins></h2>
        <input type="email" maxlength="20" size="40" name="login" value="введите логин"></p>
    <p>
        <h2 style="color:white"><ins> Введите пароль</ins></h2>
        <input type="password" maxlength="20" size="40" name="password" value="пароль">
    </p>
    <div style="color:white" id="password-constraints">Не менее восьми знаков, включая буквы, цифры и специальные символы.</div>
    <p><h2>
    <input type="submit" value="Войти">
    </h2>
    </p>

</form>
</body>
</html>